### Gradle ###
.gradle
build/
# gradle/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

### Gradle Patch ###
**/build/

.jqwik-database